{% extends "base.html" %}
{% load static %}
{% block myblock %}
{% if items|length == 0 %}
<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5 text-center">
            <div class="jumbotron alert alert-danger ">
                <h1 >Your Shopping Cart is empty!!</h1>

            </div>
        </div>
    </div>
</div>

{% else%}
<div class="container-fluid px-0 " >
    <div class="row py-5" style="background: url('/static/images/cover.jpg');background-size: 100% 100%;">
       <div class="col-md-12 py-5 my-5 text-light text-center ">
        {% if status %}
         <h1>{{status}}</h1>
        {% else %}
        <h1>My CART({{items|length}})</h1>
           {% endif %}
       </div>
    </div>
</div>
{% if user.is_authenticated%}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto mt-5 my-5 " style="box-shadow: 0px 0px 10px grey;">
            {% if msg %}
                     <div class="{{cls}}">{{msg}}</div>
            {% endif %}
            <table class="table mt-9" id="t1">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Property Name</th>
                        <th>Quantity</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in items %}
                    <tr id="row{{i.id}}">
                        <td><img src="/media/{{i.product.property_image}}" height="100" width="150"></td>
                        <td>{{i.product.property_name}}</td>
                        <td>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="number" value="{{i.quantity}}" class="form-control" id="cart{{i.id}}">
                                </div>
                                <div class="col-md-3">
                                    <i class="fas fa-plus bg-success text-light p-1 rounded-circle" onclick="change_quant('{{i.id}}','plus')"></i>
                                    <i class="fas fa-minus bg-danger text-light p-1 rounded-circle mt-1" onclick="change_quant('{{i.id}}','minus')"></i>
                                </div>
                            </div>
                        </td>
                        <td><a href="" class="btn btn-danger" onclick="remove_cart('{{i.id}}')">Removes</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>kk
        </div>
        <div class="col-md-3 mt-5 my-5 mr-4" style="box-shadow: 0px 0px 10px grey;">
            <h2 class="text-center mt-3">CHECKOUT</h2>
            <table class="table" id="t2">
                <tr>
                    <td>ITEM TOTAL</td>
                    <td id="item_total"></td>
                </tr>
                <tr>
                    <td>Quantity</td>
                    <td id="quantity"></td>
                </tr>
                <tr>
                    <td>YOU SAVED</td>
                    <td id="offer"></td>
                </tr>
                <tr style="border-top:2px solid dotted">
                    <td>TOTAL AMOUNT</td>
                    <td id="grand_total"></td>
                </tr>
            </table>
            <div class="mt-4 ">
                <a href="{% url 'process_payment' %}"class="btn btn-success btn-block w-100 form-control">Proceed To Pay &#8377;<span id="btamt"></span></a>
            </div>
        </div>
    </div>
</div>
<script>
    function grandtotal(){
        $.ajax({
            url:"{% url 'get_cart_data' %}",
            type:"get",
            success:function(data){
               save= data.total-data.offer;
               $('#item_total').html("&#8377;"+data.total);
               $('#quantity').html(data.quan);
               $('#offer').html("&#8377;"+save);
               $('#grand_total').html("&#8377;"+data.offer)
               $('#btamt').html(data.offer)
            }
        })
    }
    grandtotal();
    function change_quant(id,action){
        let old = $('#cart'+id).val();
        quan = 0
        if(action=="plus"){
            quan += parseInt(old)+1
        }else{
            quan += parseInt(old)-1
        }
        $('#cart'+id).val(quan);

        $.ajax({
            url: "{%url 'change_quant' %}",
            type:"get",
            data:{cid:id,quantity:quan},
            success: function(data){
                grandtotal();
                if(data==0){
                    remove_cart(id);
                    
                }
            }
        })
    }
function remove_cart(id){
    $.ajax({
        url:"{% url 'change_quant' %}",
        data:{delete_cart:id},
        success:function(data){
            grandtotal();
            $('#row'+id).hide();
            alert("deleted")
            alert(id)
            
            
        }

    })

}
</script>
{% endif %}
{% endif %}


{% endblock %}