{% extends "base.html" %}
{% load static %}
{% block myblock %}
<style>
    .hover:hover{
        box-shadow: 0px 0px 10px slategray;
    }
</style>
<div class="container-fluid px-0 " >
    <div class="row py-5" style="background: url('/static/images/cover.jpg');background-size: 100% 100%;">
       <div class="col-md-12 py-5 my-5 text-light text-center ">
           {% if abcd %}
           <h1 >Total ({{property|length}})properties found!! </h1>
           {% else %}
          <h1 >All Properties ({{property|length}})</h1>
          {% endif %}
       </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
         {% for i in property %}
         <div class="col-md-4 p-4">
             <div style="border: 1px solid grey;" class="p-1 hover">
                 <img src="/media/{{i.property_image }}" class="img-fluid "style="height: 200px;width: 500px;">
                 <h3 class="mt-3">
                     <a href="{% url 'view_property'%}?pid={{i.id}}">{{i.property_name}}</a></h3>
                 <h4>
                     <span><del>&#8377;{{i.property_price}}</del></span> 
                     <span>&#8377;{{i.Sale_price}}</span>                 
                    </h4>
                    <form action="{% url 'cart' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{i.id}}" name="pid">
                        <input type="hidden" value="1" name="qty">
                        <button type="submit" class="btn btn-danger btn-block">
                            <i class="fas fa-shopping-cart "></i>
                            Add To Cart
                        </button>
                    </form>
             </div>
         </div>



         {% endfor %}
    </div>
</div>
{% endblock %}