<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base page</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
</head>
<style>
    /* .footer1 {
    margin-top: 20%;
} */
/* .footer {
    background: black;
} */

.footer .icons ul li {
    display: inline;
}

.footer .icons i {
    float: right;
    font-size: 40px;
    margin-right: 25px;
}
.imgb{
    height:200px;
}

.lower-footer {
    text-align: center;
}

hr{
    background-color: white;
}
.imgf{
    height: 50px;
}
.form-group a:hover{
    color: red;
}
/* @media (min-width:100px) and (max-width:1300px){
   .secc h1{
    margin-top:20%!important;
   }
   .sec{
    margin-top:10%!important;
   }
} */

</style>
<body>
    <!--header-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 px-0">
                <nav class="navbar navbar-expand bg-dark navbar-dark py-4">
                    <a href="" class="navbar-brand">EVRENEST</a>
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a href="{% url 'index' %}" class="nav-link">Index</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'first' %}" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'countrydata' %}" class="nav-link">Country Data</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'all_property' %}" class="nav-link">All Properties</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">Categories</a>
                            <div class="dropdown-menu">
                                {% for c in catogeries %}
                                <a href="" class="dropdown-item">{{c.cat_name}}</a>
                                {% endfor %}
                            </div>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'contactus' %}" class="nav-link">Contact Us</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                        
                        <li class="nav-item mr-2">
                            <a href="{% url 'seller_dashboard'%}" class=" nav-link">Welcome {{user.username}}</a>
                        </li>
                        {% else %}
                        <li class="nav-item mr-2">
                            <a href="{% url 'reg' %}" class=" btn btn-outline-light">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="btn btn-outline-light" data-toggle="modal" data-target="#mymodal">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="modal " id="mymodal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form action="{% url 'user_login' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label>Username</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-user"></i>
                                                </span>
                                                </div>
                                                <input type="text" name="username" class="form-control" placeholder="Enter username">
                                            
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Password</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-key"></i>
                                                </span>
                                                </div>
                                                <input type="password" name="password" class="form-control" placeholder="Enter password">
                                        </div>
                                        <div class="form-group">
                                            <input type="checkbox" name="rememberme" class="form-group"><label for="">Remember me</label>
                                            <div style="float: right;">
                                                <a href="{% url 'forgotpass' %}" >Forgot Password</a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="form-group">
                                        <input type="submit"  class=" btn btn-success">
                                    </div>

                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% block myblock %}
    <div>
        <!--end of header-->
        

        {% endblock %}

    <!--footer section-->
    <div class=" container-fluid px-0">
    <footer class="footer container-fluid text-white footer1 px-0 ">
        <div class="upper-footer mt-5">
            <div class="row bg-dark ">
                
                <div class="col-md-4 mt-4 ">
                    <p class="font-weight-bold">EVRENEST</p>
                    <nav class="navbar navbar-expand bg-dark navbar-dark py-4">
                        
                        <ul class="navbar-nav ">
                            <li class="nav-item">
                                <a href="{% url 'index' %}" class="nav-link">Index</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'first' %}" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'countrydata' %}" class="nav-link">Country Data</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'contactus' %}" class="nav-link">Contact Us</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'reg' %}" class="nav-link">SignUP</a>
                            </li>
    
                        </ul>
                    </nav>
                    <!-- <p><a>INDEX</a></p>
                    <p><a>HOME</a></p>
                    <p><a>COUNTRY DATA</a></p>
                    <p><a>CONTACT US</a></p> -->
                    
                   
                </div>
                <div class="col-md-3 mt-4 bg-dark">
                    <p class="font-weight-bold">CONTACT US</p>
                    <p><span class="font-weight-bold">Address :</span> Hath of it fly signs bear be one blessed after</p>
                    <p><a>Help center</a></p>
                    <p><a>Visit property</a></p>

                    <p><a><span class="font-weight-bold">Phone : </span> 8753739203</a></p>
                    <p><a><span class="font-weight-bold">Email : </span>evernest@yahoo.com </a></p>
                </div>
                <div class="col-md-3 mx-auto mt-4">
                    <p>If we wait until we are ready , we will be waiting for the rest of our lives.</p>
                    <img src="house management2.jpg" alt="" class="img-fluid d-block imgb mb-2 rounded-circle ml-3">

                </div>
            </div>
        </div>
       
        
    </footer>
    <!--end of footer section-->
    </div>
    
    
</body>
</html>