{% extends "base.html" %}
{% load static %}
{% block myblock %}
<body>
    <div class="container-fluid px-0">
        <div class="row ">
            <div class="col-md-12 bg-info text-center text-light py-5">
                <h1>WELCOME TO CONTACT US PAGE</h1>
            </div>
            <div class="col-md-6 mt-3 mb-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d109066.25059453533!2d75.50337851910588!3d31.32252538701129!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a5a5747a9eb91%3A0xc74b34c05aa5b4b8!2sJalandhar%2C%20Punjab!5e0!3m2!1sen!2sin!4v1586084772186!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="col-md-6 mt-3 mb-3">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Your Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Enter name..">
                    </div>
                    <div class="form-group">
                        <label>Your Email</label>
                        <input type="email" class="form-control" name="email" placeholder="Enter email..">
                    </div>
                    <div class="form-group">
                        <label>Phone No.</label>
                        <input type="number" class="form-control" name="phone" placeholder="Enter phone number..">
                    </div>
                    <div class="form-group">
                        <label>Message</label>
                        <textarea class="form-control" name="message" rows="5"></textarea>
                    </div>
                    <div class="form-group mx-auto">
                        <input type="submit" class="btn btn-outline-info w-50 "  value="Send">
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Previous Feedbacks</h2>
            <h4><em>Total:{{message|length}}</em></h4>
            <table class="table">
                <tr>
                    <thead class="thead-dark">
                        <th>ID</th>
                        <th>NAME</th>
                        <th>EMAIL</th>
                        <th>PHONE NUMBER</th>
                        <th>MESSAGE</th>
                        <th>DATE</th>
                    </thead>
                </tr>
                <tbody>
                    {% for i in message %}
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.Your_email}}</td>
                        <td>{{i.Phone_No}}</td>
                        <td>{{i.Message}}</td>
 
 
                    </tr>
                    {% endfor %}
                </tbody>
                
 
 
 
            </table>
        </div>

    </div>
</body>

{% if status%}
<script>
   alert("{{status}}")
</script>
{% endif%}
{% endblock %}
