{% extends "base.html" %}
{%load static %}
{% block myblock %}
<body>
    <h1>All Countries({{total}})</h1>
    <table class="table table-bodered table-stripped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Country Name</th>
                <th>Capital</th>
                <th>Population</th>
                <th>Borders</th>
                <th>Flag</th>
            </tr>
        </thead>
        <tbody>
            {% for i in con %}
                 <tr>
                     <td>{{i.name}}</td>
                     <td>{{i.capital}}</td>
                     <td>{{i.population}}</td>
                     <td>
                        <ol>
                           {% for j in i.borders%}
                             <li>{{j}}</li>
                        {% endfor %}
                        </ol>
                    </td>
                     <td><img src="{{i.flag}}" height="100"></td>
                 </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}