{% extends "base.html" %}
{% load static %}
{% block myblock %}

<style>
    .background{
        background: url("{% static 'images/nature.jpg'%}");
       
    }
    img.box:hover{
        background: rgba(0,0,0,0.5);
        height: 200px;
    }
    
</style>
    <div class="container-fluid px-0">

        <div class="row background py-5 ">
            <div class="col-md-12 mx-auto text-light py-5 text-center " style="background:rgba(0,0,0,0.5)">
                <!-- <h1>WELCOME TO FIRST WEBPAGE</h1> -->
                <form action="{% url 'all_property' %}">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 mx-auto" >
                             <input type="text" name="qry" placeholder="Search" style="height: 38px;width: 255px;">
                             <button type="submit" class="btn btn-success">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!-- {{catogeries}} -->

            </div>
            {% for c in catogeries %}

             <div class="col-md-3 mt-3 p-4" height="200px" width="100%">
                <a href="{% url 'all_property'%}?cat={{c.id}}">
                    <div class="p-3 box " style="box-shadow: 0px 0px 20px black;"  >
                        <img src="/media/{{c.cover_pic}}"  style="width:100%;" > 
                        <h4>{{c.cat_name}}</h4>
                        <p>{{c.description}}</p> 
                    </div>
                </a>
            </div> 
            {% endfor %}
        
            <!-- <div class="col-md-4 mt-3 p-5">
                <div class="p-3" style="box-shadow: 0px 0px 20px black;">
                    <img src="{% static 'images/mountains.jpg'%}" class="img-fluid">
                <h4>Lorem Ipsum</h4>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore quae enim veritatis molestiae ut totam perferendis vitae! Qui ex rem quos perspiciatis dicta officia deleniti? Voluptatibus similique sapiente cupiditate veritatis?
                </p>
                </div>
            </div> -->
            <!-- <div class="col-md-4 mt-3 p-5">
                <div class="p-3" style="box-shadow: 0px 0px 20px black;">
                    <img src="{% static 'images/mountains.jpg'%}" class="img-fluid">
                <h4>Lorem Ipsum</h4>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore quae enim veritatis molestiae ut totam perferendis vitae! Qui ex rem quos perspiciatis dicta officia deleniti? Voluptatibus similique sapiente cupiditate veritatis?
                </p>
                </div>
            </div> -->
            <!-- <div class="col-md-4 mt-3 p-5">
                <div class="p-3" style="box-shadow: 0px 0px 20px black;">
                    <img src="{% static 'images/mountains.jpg'%}" class="img-fluid">
                <h4>Lorem Ipsum</h4>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore quae enim veritatis molestiae ut totam perferendis vitae! Qui ex rem quos perspiciatis dicta officia deleniti? Voluptatibus similique sapiente cupiditate veritatis?
                </p>
                </div>
            </div> -->
            <!-- <div class="col-md-4 mt-3 p-5">
                <div class="p-3" style="box-shadow: 0px 0px 20px black;">
                    <img src="{% static 'images/mountains.jpg'%}" class="img-fluid">
                <h4>Lorem Ipsum</h4>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore quae enim veritatis molestiae ut totam perferendis vitae! Qui ex rem quos perspiciatis dicta officia deleniti? Voluptatibus similique sapiente cupiditate veritatis?
                </p>
                </div>
            </div> -->
            <!-- <div class="col-md-4 mt-3 p-5">
                <div class="p-3" style="box-shadow: 0px 0px 20px black;">
                    <img src="{% static 'images/mountains.jpg'%}" class="img-fluid">
                <h4>Lorem Ipsum</h4>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore quae enim veritatis molestiae ut totam perferendis vitae! Qui ex rem quos perspiciatis dicta officia deleniti? Voluptatibus similique sapiente cupiditate veritatis?
                </p>
                </div>
            </div> -->
            
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Previous Feedbacks</h2>
                <h4><em>Total:{{message|length}}</em></h4>
                <table class="table">
                    <tr>
                        <thead class="thead-dark">
                            <th>ID</th>
                            <th>NAME</th>
                            <th>EMAIL</th>
                            <th>PHONE NUMBER</th>
                            <th>MESSAGE</th>
                            <th>DATE</th>
                        </thead>
                    </tr>
                    <tbody>
                        {% for i in message %}
                        <tr>
                            <td>{{i.id}}</td>
                            <td>{{i.name}}</td>
                            <td>{{i.Your_email}}</td>
                            <td>{{i.Phone_No}}</td>
                            <td>{{i.Message}}</td>
     
     
                        </tr>
                        {% endfor %}
                    </tbody>
                    
     
     
     
                </table>
            </div>
    
        </div>
         
    </div>
    {% if status %}
    <script>
        alert("{{status}}");
        window.location="/";
    </script>


    {% endif %}
{% endblock %}