{% extends "base.html" %}
{% load static %}
{% block myblock %}
<style>
    .spinner{
        height: 100px;
        width: 100px;
        border: 10px solid grey;
        border-bottom: 10px solid #0000ff;
        animation: ani 1s linear infinite;
        border-radius: 50%;
         
}
@keyframes ani{
    from{transform:rotate(0deg)}
    from{transform: rotate(360deg)}
    
}
</style>

<div class="container-fluid">
    <div class="row">
     <div class="col-md-6 my-5 p-5 shadow shadow-lg mx-auto">
         <div id="result"></div>
         <form method="POST">
             {% csrf_token %}
             <h2>Reset Password</h2>
                 <hr>
             <div class="form-group">
                 <h5><label>Enter Your Username</label></h5>
                 <input type="text" id="un" name="username" placeholder="Username" class="form-control">
             </div>
             <div class="col-md-12">
                 <button type="button" onclick="getpass()" id="continue" class="btn btn-dark form-control mt-4 mb-4">Click To Continue..</button>
             </div>
             <div class="mt-5 " style="display: none;" id="spin">
                <div class="spinner mx-auto"></div>
             </div>
             <div class="form-group" style="display: none;" id="afterotp">
                <h5><label>Enter OTP</label></h5>
                <input type="number" id="uotp" placeholder="Enter OTP here.." class="form-control">
                <button type="button" onclick="matchotp()" id="afterotp" class="btn btn-primary form-control mt-4 mb-4">Click Here To Varify OTP</button>
            </div>
           <div style="display: none;" id="changepass">
            <div class="form-group">
                <label>New Password</label>
                <input type="password" class="form-control" name="npass" placeholder="Enter new Password">
            </div>
            <div class="col-md-12">
                <input type="submit" value="Change Password"  class="btn btn-success form-control mt-4 mb-4">
            </div>
           </div>
            
            <input type = "hidden" id="rotp">
            
            </form>
        </div>
    </div>
</div>
<script>
    function getpass(){
        $("#spin").show();
       let username = $("#un").val()
       $.ajax({
           url:"{% url 'reset_pass' %}",
           type:"get",
           data:{username:username},
           success: function(data){
            $("#spin").hide();
               if(data.status=="failed"){
                $("#result").html("<p class='alert alert-danger'>No user is registered by this username </p>");

               }
               else if(data.status=="error"){
                $("#result").html("<p class='alert alert-danger'>Could not sent to  "+data.email+ " Something went wrong!!</p>");
                }
               else if(data.status=="sent") {
                $("#result").html("<p class='alert alert-success'>An OTP sent to your registered Email ID "+data.email+"</p>"); 
                $("#continue").hide() ;
                $("#afterotp").slideDown(1000);
                $("#rotp").val(data.rotp)
               }
           }
       })
    }
    function matchotp(){
        uotp = $("#uotp").val();
        rotp = $("#rotp").val();
        if(uotp==rotp){
           $("#afterotp").hide();
           $("#changepass").fadeIn(1000);
           $("#result").html("<p class='alert alert-success'>OTP Varified</p>"); 
        }
        else{
            $("#result").html("<p class='alert alert-danger'>Incorrect OTP</p>"); 
        }
    }
</script>
{% if status %}
<script>
  alert("{{status}}")
  window.location="/"
</script>

{% endif %}






{% endblock %}