{% extends "base.html"%}
{% load static %}
{% block myblock%}

<style>
    h1{
        text-align: center;
        text-decoration:underline;
        color:crimson;
        text-shadow: 0px 0px 15px black;
    }
</style>

<body style="background: cyan;">
<h1>THIS IS MY FIRST HTML PAGE USING DJANGO</h1>
<ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>JS</li>
    <li>JQUERY</li>
    <li>Bootstrap</li>
    <li>PYTHON</li>
    <li>DJANGO</li>
    <li>MY SQL| SQLite</li>
</ul>
<!-- {{colors}}                   this is called template tags -->
<!-- {%for i in colors%}
{{i}}
{%endfor%} -->
<h1>{{string}}</h1>
<table border="1" width="80%" align="center" style="text-align:center;"cellspacing="0">
<thead>
    <tr>
        <th>Color name</th>
        <th>Color</th>
    </tr>
</thead>
<tbody>
    {%for i in colors%}
    <tr>
        <td>{{i}}</td>
        <td>
        <div style="height:100px;width:100%;background:{{i}}"></div>
        </td>
    </tr>
    {%endfor%}  
</tbody>
</table>
</body>
{% endblock%}