{% extends 'base.html' %}
{% block myblock %}
<div class="container-fluid mt-5 ">
    <div class="row">
        <div class="col-md-6 my-5 p-5 mx-auto text-center" style="box-shadow: 0px 0px 10px gray;">
            <h1 class="text-warning">CLICK HERE TO CONTINUE</h1>
            {{form.render}}
        </div>
    </div>
</div>


{% endblock %}