{% extends "base.html" %}
{% block myblock %}
<style>
         
    .form-control input:focus{
    border:none;
    outline:none;
    /* border-bottom: 2px solid red; */
    /* transition: 1s ease-in-out; */
    width: 100%;
    padding: 10px;
    } 
.btn1 {
display: inline-block;
color: #fff;
text-transform: capitalize;
padding: 5px 30px;
cursor: pointer;
border-radius: 5px;
border: 1px solid #333;
font-weight: 600;
background: #333 none repeat scroll 0 0;
width: 100%;
-webkit-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
font-family: 'Playfair Display', serif;
}
.btn:hover {
background: #fff none repeat scroll 0 0;
color: #333;
border: 1px solid #333;
}
   
</style>
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-md-7 px-0">
            <div style="background: url('/static/images/desk.jpg'); height: 100%;width: 100%;"background-size="100% 100%"></div>
        </div>
        <!--signUp col-->
        <div class="col-md-5 mt-2 mb-4">
            <form method="POST">
                {% csrf_token %}
                <div class="form-row" style="font-family: 'Playfair Display', serif">I am
                    <div class="col-md-12 mb-2">
                        <div class="form-check form-check-inline" >
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                 <label class="form-check-label" for="inlineRadio1">Buyer/Owner</label>
                        </div>
                        <div class="form-check form-check-inline" name="utype">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option2">
                                 <label class="form-check-label" for="inlineRadio1">Agent</label>
                        </div>
                        <div class="form-check form-check-inline"name="utype">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option3">
                                 <label class="form-check-label" for="inlineRadio1">Builder</label>
                        </div>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="First name" name="firstname">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Last name" name="lastname">
                    </div>
                    <div class="form-control">
                        <p id="result"></p>
                    </div>
                    <input type="text" class="form-control mt-2" placeholder="Enter username" name="username" id="usrname" onkeyup="checkuser()">
                    <span><i class="fas fa-user" style="margin-left: 327px;margin-top: -31px;float:right;font-size:larger;"></i></span>
                    
                    <input type="email" class="form-control mt-2" placeholder=" Enter your valid email" name="email">
                    <span><i class="fas fa-envelope" style="position: absolute;margin-left: -36px;font-size:larger;margin-top: 15px;"></i></span>
<input type="password" class="form-control mt-2" placeholder="password" name="password" id="pass" data-toggle="popover" onfocus="$('.pwdHints').show();" onblur="$('.pwdHints').hide();">
<div class="pwdHints" style="display: none;">
<div class="pwdHintsHead">Password Rules</div>
<ul>
<li class="pwdHintsItem" id="pwdCharChk">Length must be between 8 to 14 characters.</li>
<li class="pwdHintsItem" id="pwdNumChk">Must have at least 1 digit.</li>
<li class="pwdHintsItem" id="pwdSpclChk">Must have at least 1 special character.</li>
<li class="pwdHintsItem" id="pwdCapChk">Must have at least 1 alphabet.</li>
<li class="pwdHintsItem" id="pwdWhtChk">Allowed special characters are !@#$%^&amp;*_.</li>
</ul>
</div><span><i class="fas fa-eye-slash pass" id="ic" onclick="myfun()" style="position: absolute;margin-left: -38px;font-size:larger;margin-top: 14px;"></i></span>
                     
                    <!-- <input type="password" class="form-control mt-2" placeholder="Confirm password" name="conpassword"><span><i class="fas fa-eye-slash pass" id="ic" onclick="myfun()" style="position: absolute;margin-left: -38px;font-size:larger;margin-top: 14px;"></i></span> -->
                    <input type="number" class="form-control mt-2" placeholder="Enter Phone No." name="phone">
                    
                    <p class="text-center mt-2  p-2" style="font-size: smaller;">By clicking below, you agree to company's T & C</p>
                    <button type="submit" class="btn1 form-control mt-3 mb-3" id="submitbtn">SignUp</button>
                </div>
                <p style="font-family: 'Playfair Display', serif">Already member?<a href="E:\project_HOUSE RENTAL\loginpage.html" target="_blank">LogIn</a></p>
            </form>
        </div>
        </div>
        </div>
        <script>
            function checkuser(){
                let un= document.getElementById('usrname').value;
                $.ajax({
                    url: "{% url 'check_user' %}",
                    type: "get",
                    data:{usern:un},
                    success: function(data){
                       if (data=="existed"){
                           $('#result').html("This username is already existed").addClass("alert-danger").addClass("text-red")
                           $("#submitbtn").attr("disabled","disabled")
                       }
                       else{
                        $('#result').html("");
                        $("#submitbtn").removeAttr("disabled")
                       }
                    }
                })
            }
        </script>
        {% if status %}
          <script>
              alert("{{status}}")
              window.location='/'
          </script>
          {% endif %}

{% endblock %}