{% extends "base.html" %}
{% load static %}
{% block myblock %}

<div class="container-fluid px-0 " >
    <div class="row py-5" style="background: url('/static/images/cover.jpg');background-size: 100% 100%;">
       <div class="col-md-12 py-5 my-5 text-light text-center ">
          <h1 >View Property</h1>
       </div>
    </div>
</div>

<div class="container-fluid box-shadow" >
    <div class="row">
        <div class="col-md-6 mt-4 ">
            <div >
                <img src="/media/{{property.property_image }}" alt="" style="height: 300px;width: 80%;">
            </div>
            <div>
                <h4 class="alert alert-secondary mt-4 text-center">Product Details</h4>
            <table class="table">
                <tr>
                    <th>Product ID</th>
                    <td>{{property.id}}</td>
                </tr>
                <tr>
                    <th>Product Name</th>
                    <td>{{property.property_name}}</td>
                </tr>
                <tr>
                    <th>Market Price</th>
                    <td><del>&#8377;{{property.property_price}}</del></td>
                </tr>
                <tr>
                    <th>Offered Price</th>
                    <td>&#8377;{{property.Sale_price}}
                    <script>
                        let t = "{{property.property_price}}";
                        let s = "{{property.Sale_price}}";
                        let dis = 100-((s/t)*100);
                        document.write("<strong class='text-danger'>"+"( Discount: "+Math.round(dis,2)+"%)</strong>");
                    </script></td>
                </tr>
                <tr>
                    <th>Property Description</th>
                    <td>{{property.Details}}</td>
                </tr>
            </table>
            </div>
        </div>
        <div class="col-md-6 mt-4">
            <h4 class="alert alert-secondary">Category Details</h4>
            <table class="table">
                <tr>
                    <th>Category ID</th>
                    <td>{{property.property_category.id}}</td>
                </tr>
                <tr>
                    <th>Category Name</th>
                    <td>{{property.property_category.cat_name}}</td>
                </tr>
                <tr>
                    <th>Category Image</th>
                    <td>
                        <img src="/media/{{property.property_category.cover_pic}}" style="width:200;height:150px;"></td>
                </tr>
                <tr>
                    <th>Category Description</th>
                    <td>{{property.property_category.description}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>



{% endblock%}